extends ../layout

block content

  include includes/header

  #container
    include ../includes/sidebar
    #frame
      #content.pad
        #wrap
          #topnav
            p= elem.title
        block main