extends layout

block content

  include includes/header

  #container

    #frame.no-margin
      #content.pad.margin
        .page.pad
          h1= __("This is a first instalation of Docs Service on MarkEven.")
          h2= __("You can't use this servise.")
          h3= __("But fisrt, you must login or signup")