html, body, form, fieldset, img
  padding: 0
  margin: 0
  border: 0

a, a:visited
  color: #8d8d8d

a:hover
  color: #222

body
  font-family: font-sans
  font-size: font-size
  font-weight: font-sans-weight
  background: url('/img/bg/body.png') repeat

#header
  position:relative

#container
  background: #ccc
  background-image: url('/img/bg/1.png')

#nav-top
  height: 80px
  width:100%
  >a, >span
    line-height:80px
    vertical-align:middle
    font-size: 1.1em
    padding: 0px 16px
  .logo
    display: block
    float: left
    width: 184px
    font-size: 1.2em
    color: #999
  .active
    color: #fff

#sidebar
  position:relative

  .avatar
    display:block
    text-align:center
    width:184px
    height:184px
    img
      vertical-align:middle


  .nav a
    display:block
    text-decoration:none
    padding: 8px 16px
    font-size: 1.1em
    color: #555
    &.active, &:hover
      color: #fff

#frame
  margin-left:216px
  border:1px solid transparent
  background:rgba(0,0,0,.5)

#content
  background: #fff
  min-height: 480px
  background: url("/img/bg/handmadepaper.png")
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
  &:before
    display:block
    content: ""


#footer
  clear:both
  padding: 8px 16px
  font-size: 13px
  color: #bbb

#topnav
  position:relative
  border-bottom:1px solid #ccc
  min-height:16px
  line-height:16px
  font-size: 13px
  padding: 4px 8px
  code
    font-size: 12px
  .controls
    position:absolute
    top:4px
    right:8px
    a
      display:inline-block
      text-decoration:none
      color: #777

@media screen and (min-width:480px)
  #sidebar
    width:216px
    float:left
