.row
  .span-3 &nbsp;
  .span-6
    h3= __("Create directory")
    form.partial.validate(method="post", action="/folder/"+id+"/new")
      label
        h3= __("Title.")
        input.field.focus(type="text", name="title")
      p.centered
        button.btn.primary(type="submit")= __("Create directory")
