h3.pad= __("Are you sure? You want to delete " + url + "!")

form.partial(method='post', action='/docs/delete-file/' + id)

  p.centered
    button.btn.danger(type="submit")= __("Delete document")
    span= __(" or ")
    a.close= __("cancel")

